body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wgBtnAsset{
  cursor: pointer;
}
.wgBtnAsset img
{
    -webkit-box-shadow: 10px 7px 21px 3px rgb(95, 95, 95);
    -moz-box-shadow: 10px 7px 21px 3px rgb(95, 95, 95);
    box-shadow: 10px 7px 21px 3px rgb(95, 95, 95); 
}

.wgBtnAssetHighlight img
{
    border: 6px solid rgb(44, 139, 0)!important;
    -webkit-box-shadow: 10px 7px 21px 0px rgb(128, 128, 128);
    -moz-box-shadow: 10px 7px 21px 0px rgb(128, 128, 128);
    box-shadow: 10px 7px 21px 0px rgb(128, 128, 128); 
}

.wgQuestionBox
{
    padding: 7px;
    -webkit-box-shadow: 10px 7px 21px 3px rgba(230,230,230,1);
    -moz-box-shadow: 10px 7px 21px 3px rgba(230,230,230,1);
    box-shadow: 10px 7px 21px 3px rgba(230,230,230,1); 
}

.badge-yellow
{
  color: #212529;
  background-color: #ffde7c;
}

.badge-orange
{
  color: #212529;
  background-color: #ff9d00;
}


.assetImg
{
  border: 10px solid #fff;
}

.specialAssetOrange
{
  border: 10px solid #fff;
  filter: hue-rotate(330deg);
}

/*Bootstrap override*/
.badge{
  font-size: 80%!important;
}
.card
{
    width: 25rem; position: relative; display: inline-block;
}

#cardQuestionBox .answerResultLabel
{
  background-color: rgba(128, 128, 128, 0);
  border: 0px solid #fff;
}

@media screen and (max-width: 600px) {
    .card {
        width: 20rem;
    }

    h4 {
        font-size: 1rem;
    }

    .badge{
      font-size: 40%!important;
    }

    .assetImg
    {
      border: 4px solid #fff;
    }
    .specialAssetOrange
    {
      border: 4px solid #fff;
      
    }

}

@media screen and (max-width: 800px) {
  .card {
      width: 30rem;
  }

  h4 {
      font-size: 1.2rem;
  }

  .badge{
    font-size: 50%!important;
  }

  .assetImg
  {
    border: 6px solid #fff;
  }
  .specialAssetOrange
  {
    border: 6px solid #fff;
    
  }

}
